.portfolios {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
}
/* .portfolios {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding-bottom: 6rem;
  margin-top: 1rem;
} */
.portfolios .portfolio-item {
  position: relative;
  border-radius: 15px;
}
.portfolios .portfolio-item img {
  width: 100%;
  height: 300px;
  /* object-fit: cover;
   */
  object-fit: cover;
  border-radius: 15px;
}
.portfolios .portfolio-item img.obj-fill {
  object-fit: fill;
}
.portfolios .portfolio-item .hover-items {
  background-color: red;
  width: 100%;
  height: 100%;
  background-color: #1b1f22;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transform: scale(0);
  transition: all 0.4s ease-in-out;
}
.portfolios .portfolio-item .hover-items h3 {
  font-size: 0.9rem;
  text-align: center;
  color: #777;
  margin: 1.5rem;
  /* padding-bottom: 10rem; */
}
.portfolios .portfolio-item .hover-items h3 p {
  font-size: 0.5rem;
  color: white;
  margin: 1.5rem;
}
.portfolios .portfolio-item .hover-items p {
  font-size: 0.6rem;
  color: gray;
  margin: 1.5rem;
}
.portfolios .portfolio-item .hover-items .icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolios .portfolio-item .hover-items .icons .icon {
  background-color: rgba(255, 255, 255, 0.075);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.portfolios .portfolio-item .hover-items .icons .icon i {
  font-size: 1.5rem;
  color: white;
  margin: 0 1rem;
}
.portfolios .portfolio-item .hover-items .icons .icon:hover {
  background-color: white;
}
.portfolios .portfolio-item .hover-items .icons .icon:hover i {
  color: #191d2b;
}

.portfolios .portfolio-item:hover .hover-items {
  opacity: 1;
  transform: scale(1);
}

.noresize {
  resize: none;
  /* resize: vertical; */
}
@media screen and (max-width: 600px) {
  .portfolios {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
    margin-top: 1rem;
  }
}

.techstacks {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
}

techstacks .techstack-item {
  position: relative;
  border-radius: 15px;
}
.techstacks .techstack-item img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 15px;
}
